<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="login-bg">
<header th:replace="fragments :: header"></header>
<div th:insert="fragments :: loader"></div>
<div style="position: absolute; top: 250px; left: 500px;">
    <div class="card p-4 shadow-sm" style="min-width: 300px;">
        <h3 class="text-center mb-4">Sign Up</h3>
        <form th:action="@{/signup}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label" style="font-size: 18px;">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="reUsername" class="form-label" style="font-size: 18px;">Re-Enter Username</label>
                <input type="text" name="reUsername" class="form-control" id="reUsername" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="font-size: 18px;">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <div class="mb-3">
                <label for="rePassword" class="form-label" style="font-size: 18px;">Re-Enter Password</label>
                <input type="password" name="rePassword" class="form-control" id="rePassword" required>
            </div>
            <button style="background-color: #4409b8" type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
    </div>
</div>
</body>
</html>